.alert
{
	color:				red;
	background-color:	yellow;
}

.blue_centered
{
	background-color:	#6293cd;
	color:				#ffffff;
	font-weight:		bold;
	text-align:			center;
}

body
{
	font-size:	1.2em; // Normally 1.2em. Use 1.5em for screen captures.
	margin:		0;
	padding:	0;
}

.bordered
{
	border-style:	solid;
	border-width:	1px;
}

.centered
{
	text-align: center;
}

.error
{
	color:			red;
	font-weight:	bold;
}

.hidden_div
{
	background-color:	#6293cd;
	border-style:		solid;
	border-width:		1px;
	display:			none;
	text-align:			center;
}

.hidden_span
{
	display: none;
}

.purple_on_red_title
{
	background-color:	red;
	border-color:		black;
	border-style:		solid;
	border-width:		2px;
	color:				purple;
	font-family:		Verdana, Helvetica, Arial, sans-serif;
	font-size:			30px;
	text-align:			center;
	width:				20em;
}

.red_on_gold_title
{
	background-color:	gold;
	border-color:		black;
	border-style:		solid;
	border-width:		2px;
	color:				red;
	font-family:		Verdana, Helvetica, Arial, sans-serif;
	font-size:			30px;
	text-align:			center;
	width:				20em;
}

.search_result_hidden
{
	display: none;
}

.search_result_visible
{
	display: contents;
}

table
{
	border-spacing: 0;
}

table.generic_border
{
	border: 1px solid #00aa00;
}

.table_margin_auto
{
	margin: 0 auto;
}

.table_striped>tbody>tr:nth-of-type(odd){background-color:#f9f9f9}

td.generic_border
{
	border: 1px solid #00aa00;
}

td.generic_border_margin
{
	border:			1px solid #00aa00;
	padding-left:	20px;
	padding-right:	20px;
	text-align:		center;
}

/* See also th.generic_padding below. */

td.generic_padding
{
	padding: 4px 4px 2px 2em;
}

th.generic_border
{
	border: 1px solid #00aa00;
}

th.generic_border_margin
{
	border:			1px solid #00aa00;
	padding-left:	20px;
	padding-right:	20px;
	text-align:		center;
}

/* See also td.generic_padding above. */

th.generic_padding
{
	padding: 4px 4px 2px 2em;
}

table.datatable
{
	border-width:		1px;
	border-spacing:		0px;
	border-style:		outset;
	border-color:		gray;
	border-collapse:	separate;
	#background-color:	white;
}

table.datatable th
{
	border-width:		1px;
	padding:			1px;
	border-style:		inset;
	border-color:		gray;
	#background-color:	white;
	-moz-border-radius: ;
}

table.datatable td
{
	border-width:		1px;
	padding:			1px;
	border-style:		inset;
	border-color:		gray;
	#background-color:	white;
	-moz-border-radius:	;
}

.ui-tabs-tabs .ui-tabs-nav li a
{
	font-size:			12pt !important;
	padding:			.25em 1em;	/* Vertical and horizontal. Does nothing. */
	text-decoration:	none;		/* Does nothing. */
}

.white_centered
{
	background-color:	#ffffff;
	color:				#6293cd;
	font-weight:		bold;
}
